/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2196f3; /* A vibrant blue */
  --ifm-color-primary-dark: #1976d2;
  --ifm-color-primary-darker: #1769cf;
  --ifm-color-primary-darkest: #1256b3;
  --ifm-color-primary-light: #42a5f5;
  --ifm-color-primary-lighter: #64b5f6;
  --ifm-color-primary-lightest: #90caf9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1e88e5; /* A slightly darker blue for dark mode */
  --ifm-color-primary-dark: #1565c0;
  --ifm-color-primary-darker: #135ab7;
  --ifm-color-primary-darkest: #0d47a1;
  --ifm-color-primary-light: #42a5f5;
  --ifm-color-primary-lighter: #64b5f6;
  --ifm-color-primary-lightest: #90caf9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
